<!-- START banner.html -->
<div class="jumbotron jumbotron-fluid banner" id="banner">

  <div class="container banner-text">
    <div class="text-center text-capitalize">
        <h1>Hidden in Sight</h1>
        <p>It was in the forest all along...</p>
        <a href="#description"><i class="fa fa-angle-down" style="font-size:36px"></i></a>
    </div>
  </div>
  
</div>
<!-- END banner.html -->