<!-- START content-end.html -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
<script async src="js/general.js"></script>
<!-- END content-end.html -->