<!-- START footer.html -->
<div class="footer bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <p><a href="./">Home</a> | <a href="./privacy-policy.php">Privacy Policy</a> | <a href="./about-us.php">About Us</a> | <a href="./contact-us.php">Contact Us</a> | <a href="./m/index.html">Mobile Site</a></p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="./img/cc-by-sa-4.0.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">AIE Website - Assignment</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="mailto:treblesketch.contact@gmail.com" property="cc:attributionName" rel="cc:attributionURL">Titus Huang</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>
        </div>
    </div>
</div>
<!-- END footer.html -->