<!-- START head.html -->
<!-- Sourced from Bootstrap 4 -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta content="Treble Sketch" name="author" />
<meta content="Treble Sketch" name="owner" />
<meta content="Site showcasing game developed in AIE course" name="description" />
<meta content="(c) 2018" name="copyright" />

<link rel="stylesheet" type="text/css" href="css/bootstrap-4.1.1.min.css" />
<link rel="stylesheet" type="text/css" href="css/fontawesome-5.1.0.min.css" />
<link rel="stylesheet" type="text/css" href="css/general.css" />

<link rel='shortcut icon' type='image/x-icon' href='./favicon.ico' />
<!-- END head.html -->