<!-- START nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navigation" id="myNavbar">
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarNavAltMarkup" aria-controls="navBarNavAltMarkup" aria-expanded="false" aria-lable="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> -->
	<a class="navbar-brand" href="#banner">
		<img src="./favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="Hidden in Sight" />
		Hidden in Sight
	</a>
	<div class="navbar-nav">
		<a class="nav-link" href="#description">Description</a>
		<a class="nav-link" href="#story">Story</a>
		<a class="nav-link" href="#game">Game</a>
		<a class="nav-link" href="./reviews.php">Reviews</a>
		<a class="nav-link" href="./contact-us.php">Contact Us</a>
	</div>
</nav>
<!-- END nav.html -->