.banner
{
    height: 100vh;
    margin-bottom: 0% !important;
}

.footer
{
    padding: 50px 0;
    height:300px;
    color: lightblue;
}

.areabreakup
{
    margin: 0;
    height: 80px;
    background-color: #009B8B;
}

.actualcontent .row
{
    padding: 66px 0;
    color: #E2E5B3;
}