.banner
{
    position: relative;
}

.banner-text
{
    position: inherit;
    margin-top: 30vh;
}

.banner-text h1
{
    font-size: 5rem;
}

#description
{    
    /* background-color: #055C7F; */
    background-color: #017382;
}

#story
{
    background-color: #017382;
}

#game
{
    background-color: #017382;
    /* background-color: #01B58E; */
}

/*  CSS Code provided by Unity Technologies
    WebGL-Builld
*/

.webgl-content * {border: 0; margin: 0; padding: 0}
/* .webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);} */

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('../img/progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('../img/progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('../img/progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('../img/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('../img/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('../img/progressFull.Dark.png');}

.webgl-content .footer-webgl {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;} 
.webgl-content .footer-webgl .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer-webgl .webgl-logo {background-image: url('../img/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer-webgl .title {margin-right: 10px; float: right;}
.webgl-content .footer-webgl .fullscreen {background-image: url('../img/fullscreen.png'); width: 38px; float: right;}